.icon {
    justify-content: center;
    margin: 5px 5px;
  }
  
  .contactGrid {
    display: flex;
    padding: 0px 0px;
    justify-content: center;
  }
  
  .iconAndText {
    display: flex;
    align-items: center;
    margin: 5px;
  }
  
  .miniGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 auto;
  }
  
  @media (max-width: 600px) {
    .iconAndText {
      flex-direction: column;
      justify-content: center;
      padding-left: 0px; /* Reset padding for mobile screens */
    }
    .contactGrid {
      flex-direction: column;
      margin: 0;
      justify-content: center;
      align-items: center;
    }
    .miniGrid {
      justify-content: center;
    }
    .icon {
      margin: 5px;
      justify-content: center;
    }
  }
  