.icon{
    justify-content: center;
    margin: 5px 5px;
}
.miniGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    margin: 0px auto;
}

@media (max-width: 600px) {
    .miniGrid{
        justify-content: center;
    }
    .icon{
        justify-content: left;
        margin: 5px 5px;
    }
}
  