.container {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  padding-top: 250px;
}

.title {
  color: #ffffff; /* Updated title color */
  font-size: 4.7rem;
  font-weight: 700;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px 20px;
  text-shadow: 0 0 10px rgb(255, 255, 255, 0.5), 0 0 2px #ffffff, 0 0 2px #ffffff; /* Updated glowing effect for the title */
  z-Index: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
  grid-gap: 0.5rem;
  border-radius: 5px;
  height: auto;
  border-radius: 5px;
  padding: 10px 10px;
  z-Index: 1;
}

.card {
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px 20px;
  height: auto;
  background-color: rgb(30, 30, 30); /* Updated background color */
  z-Index: 1;
  text-align: left;
  align-self : center;
  justify-content: center;
}

.card h3,
.card p,
.card li {
  color: #ccc; /* Updated text color */
}

.card h1,
.card h2{
  color: rgb(255, 75, 75, 0.8); /* Updated text color */
}

.card h1 {
  margin: 10px auto 10px;
  font-size: 1.5rem;
}

.link:hover {
  color: rgba(255, 255, 255, 0.8); /* Updated text color */
}

.card h2 {
  margin: 10px auto 10px;
  font-size: 1.5rem;
}

.card h3 {
  font-size: 1.3rem;
}

.card p {
  font-size: 1rem;
  text-align: left;
}

.card li {
  margin: 5px auto;
  font-size: 1rem;
  margin: 10px auto;
  padding: 0;
}

.card ul {
  margin: 0px auto;
  list-style: none;
  padding: 1px;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .card{
    padding: 20px 15px;
  }

  .card p{
    margin: 5px auto;
  }

  .card h1, .card h2, .card h3{
    text-align: center;
  }
}
